.notification {
  position: fixed;
  top: 5%;
  right: 20%;
  color: white;
  padding: 10px;
  background-color: palevioletred;
  border-radius: 5px;
  width: 200px;
  min-height: 50px;
  text-align: center;
  transition: all 200ms linear;

  &:hover {
    cursor: pointer;
    background-color: rgb(218, 58, 111);
    transform: scale(1.1);
  }
}
