.titleWrapper {
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0px 0px 8px 1px rgba(255, 68, 0, 0.493);
  text-align: center;
}

.titleHomeRu {
  margin-bottom: 10px;
  font-size: 16px;
  font-weight: 400;
}

.titleHomeEn {
  font-size: 16px;
  font-weight: 400;
}

.details {
  margin-top: 10px;
  padding: 2px;
  border-radius: 5px;
  color: rgb(78, 78, 78);
  background-color: rgba(255, 68, 0, 0.493);
}
