.titleLogin {
  margin-bottom: 20px;
  text-align: center;
}

.LoginLabel {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.linkToRegister {
  margin-top: 15px;
}
