.titleRegistration {
  margin-bottom: 20px;
  text-align: center;
}

.registerLabel {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.linkToLogin {
  margin-top: 15px;
}
