.loginWrapper {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
}

.welcome {
  font-size: 16px;
}

.userIcon {
  padding-left: 5px;
  width: 25px;
}

.userEmail {
  margin: 0 5px;
  padding: 5px 0;
  font-size: 14px;
}
